<!-- Contenido del sitio -->
<div class="container-fluid content">
    <img src="/Img/login.jpg" class="d-block w-100" alt="Flyer Novedades"><br><br>
    <div class="alert alert-info alert-custom">Hola {{persona}}, Gracias por ingresar a Ámbar Argentina.
    </div>
    <br>

    <!-- Fila 1 -->
    <div class="container">
        <div class="row margen1">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="destacado">Proximamente la página de Novedades.</h1>
                <br>
                <div class="margen1">
                    <p class="text-end">
                    <a href="/admin/login/logout" class="btn btn-primary">Cerrar sesión</a>
                    </p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div> <!-- Fin Fila 1 -->

</div>

<br>