<!-- Contenido del sitio -->
<div class="container-fluid content">

    <!-- Banner -->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row banner">
            <h4>Accesorios infantiles</h4>
        </div>
    </div>

    <!-- Productos Accesorios infantiles Fila 1-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-3 margen">
                <!-- figure: encapsula la figura, estructura visualmente el contenido. -->
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/MochilaMinnie.jpg" class="d-block w-100" alt="Mochila Minnie">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <!-- figcaption: proporciona una descripción asociada a la figura -->
                    <figcaption class="description">Mochila de Minnie Mouse "Disney"<br>
                        <span class="precio">$&nbsp;32.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 2 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/MochilaMinnie2.jpg" class="d-block w-100" alt="Mochila Minnie 2">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Mochila de Minnie Mouse "Disney"<br>
                        <span class="precio">$&nbsp;32.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 3 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BilleteraInfantil.jpg" class="d-block w-100"
                                alt="Billetera infantil con cierre">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Billetera infantil con cierre<br>
                        <span class="precio">$&nbsp;9.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 4 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BilleteraAnimalitos.jpg" class="d-block w-100" alt="Billeteras de animalitos">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Billeteras de animalitos"<br>
                        <span class="precio">$&nbsp;9.900</span>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- Fin Productos Fila 1 -->
    </div>

    <!-- Productos Accesorios infantiles Fila 2-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 5 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/MonederoGatito.jpg" class="d-block w-100" alt="Monedero de gatito unicornio">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Monedero de gatito unicornio<br>
                        <span class="precio">$&nbsp;7.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 6 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ParaguasNubes.jpg" class="d-block w-100" alt="Paraguas con nubes">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Paraguas con nubes<br>
                        <span class="precio">$&nbsp;10.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 7 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ParaguasUnicornios.jpg" class="d-block w-100" alt="Paraguas con unicornios">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Paraguas de unicornios<br>
                        <span class="precio">$&nbsp;10.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 8 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ParaguasArcoíris.jpg" class="d-block w-100" alt="Paraguas con arcoíris">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Paraguas con arcoíris<br>
                        <span class="precio">$&nbsp;10.000</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div> <!-- Fin Productos Fila 2 -->

</div>

<br>
<br>
