<!-- Contenido del sitio -->
<div class="container-fluid content">

    <!-- Banner -->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row banner">
            <h4>Gorros y pilusos</h4>
        </div>
    </div>

    <!-- Productos Gorros y Pilusos Fila 1-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-3 margen">
                <!-- figure: encapsula la figura, estructura visualmente el contenido. -->
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/Cap Minnie.jpg" class="d-block w-100" alt="Cap Minnie">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Cap de minnie mouse "disney"<br>
                        <span class="precio">$&nbsp;11.900</span>
                    </figcaption>
                </figure>
            </div>

            <!-- Producto 2 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/Piluso Minnie.jpg" class="d-block w-100" alt="Piluso Minnie">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Piluso de minnie mouse "disney"<br>
                        <span class="precio">$&nbsp;15.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 3 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/GorroTejido.jpg" class="d-block w-100" alt="Gorro Infantil Tejido">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Gorro Infantil Tejido<br>
                        <span class="precio">$&nbsp;6.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 4 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/CapMinnie Mouse2.jpg" class="d-block w-100" alt="Cap de Minnie Mouse">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Cap de minnie mouse "disney"<br>
                        <span class="precio">$&nbsp;11.900</span>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- Fin Productos Fila 1 -->
    </div>

    <!-- Productos Gorros y Pilusos Fila 2-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 5 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/CapMinnieMouse3.jpg" class="d-block w-100" alt="Cap de Minnie Mouse">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Cap de minnie mouse "disney"<br>
                        <span class="precio">$&nbsp;11.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 6 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/pilusoInfantil.jpg" class="d-block w-100"
                                alt="Piluso infantil con animalitos">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Piluso infantil con animalitos<br>
                        <span class="precio">$&nbsp;13.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 7 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/CapGatito.jpg" class="d-block w-100" alt="Cap de gatito">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Cap de gatito<br>
                        <span class="precio">$&nbsp;9.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 8 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/GorroPompón.jpg" class="d-block w-100" alt="Gorro con pompón">
                        </a>
                        <button class="add-to-cart">Añadir al carrito</button>
                    </div>
                    <figcaption class="description">Gorro con pompón<br>
                        <span class="precio">$&nbsp;10.000</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div> <!-- Fin Productos Fila 2 -->

</div>

<br>
<br>